<div class="row mt-2">
    <div class="col-lg-4"></div>
    <div class="col-xs-12 col-lg-4 px-4">
        <div class="daily-notification-holder mr-2 p-2">
            <h6>Daily notification</h6>
            <p> {{positiveMessage}} </p>
        </div>
    </div>
    <div class="col-lg-4"></div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div (click)="sosMessage()" class="sos-button">
            <p>SOS</p>
        </div>
    </div>
</div>

<!-- <p class="text-white">If you feel extremely down, you're about to
panick,
feel depressed or anything alike - push the button and we will
notify your contacts</p> -->
