<div class="background-container">
    <div class="header-container">
        <h1 class="special-font">Mentally</h1>
        <p>Your personal mental ally</p>
    </div>

    <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-4 "></div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
            <div class="welcome-page-tabs-container mx-4 mt-3">
                <mat-tab-group>
                    <mat-tab label="Login">
                        <app-login-form></app-login-form>
                    </mat-tab>
                    <mat-tab label="Register">
                        <app-registration-form></app-registration-form>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-4"></div>
    </div>
</div>