<form [formGroup]="addHelpContactForm">
    <mat-form-field appearance="fill" class="w-100">
        <mat-label>First name</mat-label>
        <input matInput formControlName="first_name" type="text"
            placeholder="Name" required>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100">
        <mat-label>Last name</mat-label>
        <input matInput formControlName="last_name" type="text"
            placeholder="Surname" required>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100">
        <mat-label>Phone number</mat-label>
        <input matInput formControlName="phone_number" type="text"
            placeholder="Phone number" required>
    </mat-form-field>

    <div class="text-center">
        <button *ngIf="mode === 'add'" (click)="addContact()" mat-raised-button color="primary" [disabled]="!addHelpContactForm.valid">Add</button>
        <button *ngIf="mode === 'edit'" (click)="updateContact()" mat-raised-button color="primary" [disabled]="!addHelpContactForm.valid">Update</button>
    </div>
</form>