<mat-drawer-container class="example-container" [hasBackdrop]="true">
    <mat-drawer #drawer mode="over">
            
            <!-- Images thanks to pixabay -->
            <app-menu-item
            (click)="goToPage('dashboard')"
            [backgroundImage]="'../../../assets/images/home-sunflower.jpg'">
                Home
            </app-menu-item>

            <app-menu-item
            (click)="goToPage('how-are-you')"
            [backgroundImage]="'../../../assets/images/sunflower.jpg'">
                How are you?
            </app-menu-item>

            <app-menu-item 
            (click)="goToPage('blog')"
            [backgroundImage]="'../../../assets/images/dog.jpg'">
                Blog
            </app-menu-item>

            <app-menu-item 
            (click)="goToPage('contact')"
            [backgroundImage]="'../../../assets/images/contact.jpg'">
                Contact
            </app-menu-item>

            <app-menu-item 
            (click)="goToPage('settings')"
            [backgroundImage]="'../../../assets/images/galaxy.jpg'">
                Settings
            </app-menu-item>

            <app-menu-item 
            (click)="logout()"
            [backgroundImage]="'../../../assets/images/playmobil.jpg'">
                Logout
            </app-menu-item>
    </mat-drawer>

    <mat-drawer-content>

        <div class="row">
            <div class="col-3">
                <button class="ml-2 mt-2" (click)="drawer.toggle()" mat-raised-button>
                    <fa-icon [icon]="faBars"></fa-icon>
                </button>
            </div>

            <div class="col-9 pt-2">
                <h2 class="special-font text-right mr-5">Mentally</h2>
            </div>
        </div>

        <router-outlet></router-outlet>

    </mat-drawer-content>
</mat-drawer-container>